
RoboCop/\.project

RoboCop/\.settings/

RoboCop/RoboCop-Client/\.classpath

RoboCop/RoboCop-Client/\.project

RoboCop/RoboCop-Client/\.settings/

RoboCop/RoboCop-GUI/\.classpath

RoboCop/RoboCop-GUI/\.project

RoboCop/RoboCop-GUI/\.settings/

RoboCop/RoboCop-Server/\.classpath

RoboCop/RoboCop-Server/\.project

RoboCop/RoboCop-Server/\.settings/

Dateiabfrage/client/\.idea/

Dateiabfrage/client/cmake-build-debug/

Dateiabfrage/server/\.idea/

Dateiabfrage/server/cmake-build-debug/
